.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1300px;

  grid-template-areas:
"h h"
"n  c";

  grid-template-rows: 140px 2fr;
  grid-template-columns: 2fr 10fr;
  /*grid-gap: 10px;*/
}

.header {
grid-area: h;
  background-color: #b7ffb1;
}

.header img {
  width: 10px;

}
.nav {
grid-area: n;
  background-color:burlywood  ;
}
.content {
grid-area: c;
  background-color: cornflowerblue;
}

.avatar img {
  width: 100px;
}